@CHARSET "ISO-8859-1";

.section{
	text-align:center;
		}


/*VIDEO*/
#myVideo{
	position: absolute;
	z-index: 4;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black;
	background-position: center center;
	background-size: contain;
	object-fit: cover;
		}

#section1 .layer{
			position: absolute;
			z-index: 5;
			width: 100%;
			left: 0;
			top: 43%;
			height: 100%;
		}
		#section1 h1{
			color:#fff;
		}
		#infoMenu li a{
			color: #fff;
		}
		#section1{
			overflow: hidden;
		}





/*IDS*/
#guccilogotitle {
min-height: 350px;
margin-top: -100px;;
}

#guccilogointro {
	width: 30%;
	height: 20%;
}

#section4 p {
	text-align: center;
}

#guccigoodies {
	text-align: center;
}

#quiz h1, h3 {
	text-align: center;
	font-family: Vidaloka, serif;
	}
	
	#section2 p, h1, h3 {
	color: white;
}

	#section5 img {
	margin-top: 175px;
	margin-bottom: 20px;
	max-width:40%;
}

#section5 img:hover {
		background:#fdb8a5; 
}

#section5 img:active {
		background:#fdb8a5; 
}

#section13 img {
	max-width: 15%;
}



/*CUSTOM CLASSES*/
.illustration {
	margin-top: 100px;
	align-content: center;
}

.illustration img {
	max-height: 300px;
}


.storybook {
	margin-top: 10px;
	margin-left: 280px;
	margin-right: 280px;
	margin-bottom: 90px;
}

.storybook h1, h3 {
	text-align: center;
	font-family: Vidaloka, serif;
}

.storybook h3 {
	font-size: 40px;
}

.storybook p {
	padding: 20px;
	text-align: justify;
}

.yellowtext {
	color: #8B4513;
}

.redtext {
	color: #F5B822;
}

.pinktext {
	color: #b44b54;
}

.greentext {
	color: #cef4c8;
}


.clippingsquiz {
	position: sticky;
	float: left;
	bottom: 0px;
	left: 35px;
	max-height: 40%;
}


.clippingsleft {
	position: sticky;
	float: left;
	bottom: 0px;
	left: 0px;
	max-height: 40%;
	z-index: -1;
}

.clippingsright {
	position: sticky;
	float: right;
	bottom: 0px;
	right: 0px;
	max-height: 40%;
	z-index: -1;
}

.clippings {
	position: sticky;
	float: none;
	bottom: 0px;
	display: flex;
	align-content: center;
	max-height: 40%;
	opacity: 0.4;
	z-index: -2;
}


/* MAIN */
 body {
	margin: 0px;
 }


a{
	text-decoration:none;
}


ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}


h1,h3 {
				font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
}

h1{
	font-size: 6em;
}

p{
	font-family: 'Old Standard TT', serif;
	font-size: large;
}

.section{
	text-align: center;
}




/* MENU */
#chapters{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
	margin-bottom: 10px;
}

#chapters li {
	font-family: 'Old Standard TT', serif;
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}

#chapters li a{
	text-decoration:none;
	color: #000;
}

#chapters li.active{
	background:#333;
	background: rgba(51, 51, 51, 0.5);
	color: #fff;
}

#chapters li.active a:hover{
	color: #000;
}
#chapters li:hover{
	background: rgba(255,255,255, 0.8);
}
#chapters li a,
#chapters li.active a{
	padding: 9px 18px;
	display:block;
}
#chapters li.active a{
	color: #fff;
}




/*TOOLTIP COLOR*/
#pp-nav.custom .pp-tooltip{
	color: #AAA;
}

/*SECTION COLOR EDITS - This was the section I had the most trouble with; for whatever reason, changing the colors for some sections would affect others. I tried targeting individual elements within sections, too, but that didn't work either, so I had to resort to using style in the HTML. I'm still working to figure out what's going on, but here's a note just in case.*/









/*MEDIA QUERIES*/
@media only screen and (max-width: 850px) {
			.illustration {
				margin-top: 150px;
			}
			
			.clippingsleft {
				display: none;
			}
			
			.clippingsright {
				display: none;
			}
	
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 30px;
    }
				h3 {
					font-size: 20px;
				}
				p {
					font-size: small;
				}
				img {
					max-width: 60%;
					margin-top: auto;
				}
				#guccilogotitle {
					min-height: 40%;
					min-width: 60%;
				}
				.storybook {
					margin-left: 50px;
					margin-right: 50px;
				}
				.storybook p {
					text-align: left;
				}
				.clippingsleft {
				display: none;
			}
			
			.clippingsright {
				display: none;
			}
}


@media only screen and (max-width: 500px) {
				.illustration {
					margin-top: 200px;
			}
			.clippingsleft {
				display: none;
			}
			
			.clippingsright {
				display: none;
			}
	
}
				
				

