@CHARSET "ISO-8859-1";

/*VIDEO*/
.section{
	text-align:center;
		}

#myVideo{
	position: absolute;
	z-index: 4;
	right: 0;
	bottom: 0;
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black;
	background-position: center center;
	background-size: contain;
	object-fit: cover;
		}

#section1 .layer{
			position: absolute;
			z-index: 5;
			width: 100%;
			left: 0;
			top: 43%;
			height: 100%;
		}
		#section1 h1{
			color:#fff;
		}
		#infoMenu li a{
			color: #fff;
		}
		#section1{
			overflow: hidden;
		}





/*IDS*/
#guccilogotitle {
	width: 450px;
	height: 300px;
	margin-bottom: 100px;
}

#guccilogointro {
	width: 30%;
	height: 20%;
}

#section4 p {
	text-align: center;
}




/*CUSTOM CLASSES*/
.storybook {
	margin-top: 520px;
	margin-left: 280px;
	margin-right: 280px;
	margin-bottom: 90px;
}

.storybook h1, h3 {
	text-align: center;
	font-family: Vidaloka, serif;
}

.storybook h3 {
	font-size: 40px;
}

.storybook p {
	padding: 20px;
	text-align: justify;
}


/* MAIN */
 body {
	margin: 0px;
	color: #8B4513;
 }


a{
	text-decoration:none;
}


ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}


h1,h2,h3,h4,h5,h6 {
    color: #8B4513;
	font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#8B4513;
}

h1{
	font-size: 6em;
}

p{
	color: #8B4513;
	font-family: 'Old Standard TT', serif;
	font-size: large;
}

.section{
	text-align: center;
}



/* MENU */
#chapters{
	justify-content: space-around;
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#chapters li {
	font-family: 'Old Standard TT', serif;
	display:inline-block;
	margin: 10px;
	color: #000;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px;
}

#chapters li a{
	text-decoration:none;
	color: #000;
}

#chapters li.active{
	background:#8B4513;
	background: rgba(139, 69, 19, 0.5);
	color: #fff;
}


#chapters li.active a:hover{
	color: #000;
}
#chapters li:hover{
	background: rgba(255,255,255, 0.8);
}
#chapters li a,
#chapters li.active a{
	padding: 9px 18px;
	display:block;
}
#chapters li.active a{
	color: #fff;
}


/* Overwriting fullPage.js tooltip color
* --------------------------------------- */
#pp-nav.custom .pp-tooltip{
	color: #AAA;
}

